.marketplace{
    padding:50px 80px;
}

.market-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.market-header h1{
    font-size:40px;
}

.market-header p{
    color:gray;
    margin-top:8px;
}

.search-box{
    max-width:450px;
    margin-bottom:35px;
}

.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px lightgray;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-card h3{
    padding:20px 20px 10px;
}

.price{
    color:green;
    font-size:24px;
    font-weight:bold;
    padding:0 20px;
}

.product-card p{
    padding:10px 20px;
}

.product-card button{
    margin:20px;
    width:calc(100% - 40px);
}